.secao_cria_edita_mostra_revisao{
    padding: 0;
    margin-top: 150px;
    margin-bottom: 350px;
  }

  .secao_cria_edita_mostra_revisao #caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 15px;
    background-color: rgb(196, 110, 104);
    border: 1px solid #d3a4a4;
    border-radius: 5px;
  }
  
  .secao_cria_edita_mostra_revisao .btn-custom {
    margin-top: 10px;
    background-color: rgb(98, 245, 106);
  }

  .secao_cria_edita_mostra_revisao .form{
    min-width: 300px;
  }

  .secao_cria_edita_mostra_revisao .form-group,
  .secao_cria_edita_mostra_revisao input{
    text-align: center;
    margin-top: 10px;
  }

  .secao_cria_edita_mostra_revisao #revisao{
    padding: 50px 40px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
  }

  /*table*/

  .secao_cria_edita_mostra_revisao .table-responsive {
    margin-top: 50px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .secao_cria_edita_mostra_revisao .table{    
    border-collapse: collapse;
  }

  .secao_cria_edita_mostra_revisao .table thead th,
  .secao_cria_edita_mostra_revisao .table td {
    background-color: rgb(221, 165, 165);
    border: 2px solid #dee2e6;
    padding: 10px;
    text-align: center;
  }

 
  @media screen and (max-width: 768px) {
  
    .secao_cria_edita_mostra_revisao #caixa{
      padding: 10px;
      width: 98vw;
    }
    .secao_cria_edita_mostra_revisao .table-responsive {
      max-height: 700px;
    }

    .secao_cria_edita_mostra_revisao .table thead th,
    .secao_cria_edita_mostra_revisao .table td {
      padding: 2px;    
      box-sizing: border-box;
    }

  }