.secao_revisao {
    margin-top: 100px;
    padding: 0;
}

.secao_revisao_2 {
    margin-top: 50px;
}

.secao_revisao #caixa{
    width: 100%;
    background-color: rgb(196, 110, 104);
    padding: 30px;
    margin-top: 180px;
    border: 1px solid #d3a4a4;
    border-radius: 5px;
}

.secao_revisao .table-responsive {
    margin-top: 50px;
    max-height: 800px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.secao_revisao .table{    
    border-collapse: collapse;
}

.secao_revisao .table thead th,
.secao_revisao .table td {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
}

.secao_revisao_2 #caixa_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d3a4a4;
    border-radius: 2%;
    background-color: rgb(196, 110, 104);
}

.secao_revisao_2 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
}

.secao_revisao_2 #caixa_2 #graficoPizza {
    padding: 20px;
}


@media screen and (max-width: 768px) {

.secao_revisao #caixa{
    width: 98vw;
    padding: 10px;
}

.secao_revisao .table{
    width: 100%;
}

.secao_revisao .table-responsive {
    max-height: 700px;
}

.secao_revisao tr {
    flex-direction: row;
}

.secao_revisao .table thead th,
.secao_revisao .table td {
    width: 100%;
    padding: 6px 8px;    
    box-sizing: border-box;
}

.secao_revisao_2 #caixa_2 {
    width: 98vw;
}

}