/*dashboard*/

  .secao_dash{
    display: flex;
    padding: 0;
  }
  
  .secao_dash .container{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .secao_dash .card{
    width: 100%;
    margin-bottom: 25px;
    padding: 40px 80px;
    border: 1px solid #dee2e6;
    gap: 50px;
  }
  
  .secao_dash .card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .secao_dash .font{
    font-size: 25px;
  }
  
  .secao_dash #caixa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
    padding: 55px;
    border-radius: 2%;
    background-color: rgb(196, 110, 104);
  }
  
  @media screen and (max-width: 768px) {
  
    .secao_dash .container{
      margin-bottom: 10px;
    }
  
    .secao_dash .card {
      margin-bottom: 5px;
      padding: 20px 40px;
    }
    .secao_dash #caixa{
      flex-direction: column;
      margin-top: 150px;
      margin-bottom: 50px;
      padding: 20px;
      width: 98vw;
    }
  
  }